<!DOCTYPE html>
<html>
<%- include('header') -%>
<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
<link href="assets/css/pages/faq/faq.css" rel="stylesheet" type="text/css" /> 
<!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->    

   <body>

      <div class="fq-header-wrapper">
         <nav class="navbar navbar-expand">
            <div class="container">
               <a class="navbar-brand" href="index.html">NutriBoost</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="/login">Administración</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/loginUsers">Cliente</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
         <div class="container">
            <div class="row">
               <div class="col-md-6 align-self-center order-md-0 order-1">
                  <h1 class="">Nutriboost</h1>
                  <p class="">texto descriptivo aquí</p>
                  <a href="/loginUsers" class="btn">Iniciar sesión</a>
               </div>
               <div class="col-md-6 order-md-0 order-0">
                  <div class="banner-img">
                     <img src="assets/img/faq.svg" class="d-block" alt="header-image">
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="faq container">

         <div class="faq-layouting layout-spacing">


            <div class="fq-comman-question-wrapper">
               <div class="row">
                  <div class="col-md-12">
                     <h3 class="" align="center">NutriBoost</h3>
                     <div class="row">
                        <div class="col-md-6">
                           <ul class="">
                              <li class="list-unstyled" align="center">
                                 <div class="icon-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                       fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                       stroke-linejoin="round" class="feather feather-check">
                                       <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                 </div>
                                 How to Install CORK
                              </li>
                              <li class="list-unstyled" align="center">
                                 <div class="icon-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                       fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                       stroke-linejoin="round" class="feather feather-check">
                                       <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                 </div>
                                 Gulp not running
                              </li>
                              <li class="list-unstyled" align="center">
                                 <div class="icon-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                       fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                       stroke-linejoin="round" class="feather feather-check">
                                       <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                 </div>
                                 Browser Sync not working
                              </li>
                           </ul>
                        </div>
                        <div class="col-md-6">
                           <ul class="">
                              <li class="list-unstyled" align="center">
                                 <div class="icon-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                       fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                       stroke-linejoin="round" class="feather feather-check">
                                       <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                 </div>
                                 File Strucutre
                              </li>
                              <li class="list-unstyled" align="center">
                                 <div class="icon-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                       fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                       stroke-linejoin="round" class="feather feather-check">
                                       <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                 </div>
                                 Demo Detail
                              </li>
                              <li class="list-unstyled" align="center">
                                 <div class="icon-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                       fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                       stroke-linejoin="round" class="feather feather-check">
                                       <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg>
                                 </div>
                                 Build website and webapps
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <%- include('footer') -%>

   </body>

</html>