<nav id='botonera' class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">

    <h1 class="navbar-brand">NutrinBoost</h1>

    <ul class="navbar-nav" style="align-items: center; height: 100%;">
        <a href="/logout2" class='nav-link px-3 py-2'>Cerrar</a>
        <a href="/usuarios" class='nav-link px-3 py-2'>Users</a>
        <a href="/compras" class='nav-link px-3 py-2'>Compras</a>
        <a href="/productos" class='nav-link px-3 py-2'>Productos</a>
        <a href='/categorias' class='nav-link px-3 py-2'>Categorias</a>
    </ul>

</nav>