  @font-face{
    font-family:'dali';
    src:url('/fuentes/Zombie Predator TTF Personal.ttf');
  }


  .tablee {
    overflow: auto;
    background: rgba(180, 180, 180, .7);
    width: 90%;
    height: 60vh;
    margin: 50px auto;
    color:black;
  }

  body{
    font-family: 'Poppins', sans-serif;
    background: url("../img/FondoUpdate.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:black;
  }

  .botonProductos {
    color:black;
    text-decoration: none;
    padding: 8px;
    margin: 10px;
    transition: all 1s;
  }
  
  
  #botonera {
    display: flex;
    justify-content:center;
    align-items: center;
    font-size:1.2rem;
    font-weight: bold;
    color: black;
    background: rgba(180, 180, 180, .7);
    border: 1px solid black;
  }

  table {
    border: 1px solid black;
    width: 100%;
    color:black;
    height: auto;
    table-layout: auto;
    background: rgba(180, 180, 180, .7);
  }

  table td {
    text-align: center;
  }

  td, th {
    width: auto;
  }
  h1 {
    color:black;
    background: rgba(180, 180, 180, .7);
    width:30%;
    text-align: center;
    margin:4rem auto;
    font: 2rem 'dali';
    border-radius:15px;
    border:1px solid black;

  }
  .header{
    background-color: rgb(28, 44, 73);
    border-radius: 25px;
    padding: 20px;
    margin-top: 5px;
  }
