*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

body{
background-image:url('/img/FondoUpdate.jpg');
background-size:cover;
background-attachment:fixed;
}
.table{
margin:50px auto;
width:80%;
background:rgb(0,0,0,.7);
}
table{
 color:white;
 width:100%;
}
h1{
	color: rgb(237, 184, 99);
	text-align:center;
	margin-top:50px;
}
td{
	text-align:center;
}
#botonProductos{
	background:rgb(229, 229, 229);
	color:black;
	text-decoration: none;
	padding:6px;
	margin:20px;
	transition: all 1s;
}
#add{
 height:5vh;
}
.botonProductos:nth-child(1):hover {
  color:red;
    text-shadow:15px 15px 6px red;

}
.botonProductos:hover {
  transform: scale(1.3);
  text-shadow:15px 15px 6px black;
}

#botonera {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  background: rgba(180, 180, 180, .7);
  border: 1px solid black;
}


